.container {
  display: flex;
  gap: 15px;
  max-width: 96%;
  margin-left: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.title {
  margin-bottom: 15px;
}
.text {
  margin-bottom: 12px;
}
.links {
  margin-left: 20px;
  display: flex;
  max-width: 96%;
  margin-top: 20px;
  column-gap: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
.linkGoBack {
  display: inline-block;
  padding: 8px 16px;
  width: 100px;
  background-color: orange; /* Задання оранжевого кольору */
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s; /* Плавні переходи для кольорів */
}

.linkGoBack:hover {
  background-color: #ff7f00; /* Зміна відтінку при наведенні */
}

.linkTo {
  display: block;
  padding: 8px 16px;
  width: 100px;
  background-color: orange; /* Задання оранжевого кольору */
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s; /* Плавні переходи для кольорів */
}

.linkTo:hover {
  background-color: #ff7f00; /* Зміна відтінку при наведенні */
}
